<!-- start header bottom  -->
<div class="aa-header-bottom">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="aa-header-bottom-area">
          <!-- logo  -->
          <div class="aa-logo">
            <!-- Text based logo -->
            <a href="index.html">
              <%= image_tag("kitabiworm.jpg", alt: "KitabiWorm Logo", class: "img-logo")%>
            </a>
            <!-- img based logo -->
            <!-- <a href="index.html"><img src="img/logo.jpg" alt="logo img"></a> -->
          </div>
          <!-- / logo  -->
          <!-- search box -->
          <div class="aa-search-box">
            <form action="">
              <input type="text" name="" id="" placeholder="Search here ex. 'Harry Potter and the cursed child.' ">
              <button type="submit"><span class="fa fa-search"></span></button>
            </form>
          </div>
          <!-- / search box -->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- / header bottom  -->
