<!-- footer -->
<footer id="aa-footer">
  <!-- footer bottom -->
  <div class="aa-footer-top">
   <div class="container">
      <div class="row">
      <div class="col-md-12">
        <div class="aa-footer-top-area">
          <div class="row">
            <div class="col-md-4">
              <div class="aa-footer-widget">
                <ul class="social-network social-circle">
                    <!-- <li><a href="#" class="icoRss social-circle-a" title="Rss"><i class="fa fa-rss"></i></a></li> -->
                    <li><a href="#" class="icoFacebook social-circle-a" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#" class="icoTwitter social-circle-a" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#" class="icoGoogle social-circle-a" title="Google +"><i class="fa fa-instagram"></i></a></li>
                    <!-- <li><a href="#" class="icoLinkedin social-circle-a" title="Linkedin"><i class="fa fa-linkedin"></i></a></li> -->
                </ul>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 col-offset-md-4">
              <div class="aa-footer-widget">
                <p>+91 819007 1086</p>
                <p>support@virtuallib.com</p>
                <p>Crafted with <i class="fa fa-heart tealincolor"></i> by awesome people at Virtuallibrary </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
   </div>
  </div>
  <!-- footer-bottom -->
  <div class="aa-footer-bottom">
    <div class="container">
      <div class="row">
      <div class="col-md-12">
        <div class="aa-footer-bottom-area">
          <p>COPYRIGHT @ VIRTUAL LIBRARY INC. | ALL RIGHTS RESERVED</p>
        </div>
      </div>
    </div>
    </div>
  </div>
</footer>
<!-- / footer -->
