<!-- Subscribe section -->
<section id="aa-subscribe">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="aa-subscribe-area">
          <h3>Subscribe our newsletter </h3>
          <p>Stay up-to-date with our new book launches, expansions and promotions.</p>
          <%= form_tag subscribers_path, method: :post, class: "aa-subscribe-form" do %>
            <%= email_field_tag :email, params[:email], placeholder:"Enter your Email" %>
            <%= submit_tag "Subscribe" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- / Subscribe section -->
