<section id="aa-support">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="aa-support-area">
          <!-- single support -->
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="aa-support-single">
              <span class="fa fa-motorcycle"></span>
              <h4>FREE DELIVERY</h4>
              <P>We deliever you the books, without any delivery charges.</P>
            </div>
          </div>
          <!-- single support -->
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="aa-support-single">
              <span class="fa fa-motorcycle fa-flip-horizontal"></span>
              <h4>FREE PICKUP</h4>
              <P>No worries, while returning also. We have free pickupa also for you.</P>
            </div>
          </div>
          <!-- single support -->
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="aa-support-single">
              <span class="fa fa-phone"></span>
              <h4>SUPPORT 24/7</h4>
              <P>24x7 Available at your serivce @ support@virtuallibrary.com</P>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
