<li>
  <figure>
    <a class="aa-product-img" href="#">
      <%= image_tag(book.front_image, alt: "#{book.name} image") %>
    </a>

      <figcaption>
        <h4 class="aa-product-title">
          <%= link_to book.name, book %>
        </h4>
        <span class="aa-product-price">
          ₹<%= book.price.to_i %>
        </span>
        <p class="aa-product-descrip">
          <%= book.desc %>
        </p>
      </figcaption>
      <a class="aa-add-card-btn"href="#"><span class="fa fa-book"></span>Add To Library</a>
  </figure>
  <div class="aa-product-hvr-content">
    <a href="#" data-toggle="tooltip" data-placement="top" title="Add to Bookmark"><span class="fa fa-heart-o"></span></a>
    <!-- <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" data-toggle="modal" data-target="#quick-view-modal"><span class="fa fa-search"></span></a> -->
  </div>
</li>
